@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Variables */
@theme {
	/* Container */
	--container-width-in-figma: 1280px;
	--container-side-padding: 16px;
	--container-max-width: calc(
		var(--container-width-in-figma) + 2 * var(--container-side-padding)
	);

	/* Fonts */
	--font-dm_sans: "DM Sans", sans-serif;
	--font-space_grotesk: "Space Grotesk", sans-serif;

	/* Colors */
	--color-primary-10: #19141f;
	--color-primary-20: #251f2e;
	--color-primary-30: #462673;
	--color-primary-40: #6317cf;
	--color-primary-50: #6c0df2;
	--color-primary-60: #8833ff;
	--color-primary-70: #9966ff;
	--color-primary-80: #bb99ff;
	--color-primary-90: #ddcdfe;
	--color-primary-95: #f1ebff;

	--color-secondary-10: #331100;
	--color-secondary-20: #662200;
	--color-secondary-30: #993300;
	--color-secondary-40: #c2570a;
	--color-secondary-50: #ff5500;
	--color-secondary-60: #ff7733;
	--color-secondary-70: #ffb266;
	--color-secondary-80: #ffbb99;
	--color-secondary-90: #ffddcc;
	--color-secondary-95: #fff1eb;

	--color-tertiary-10: #064741;
	--color-tertiary-20: #085e57;
	--color-tertiary-30: #0f8a80;
	--color-tertiary-40: #14b89c;
	--color-tertiary-50: #19e6c4;
	--color-tertiary-60: #47ebcf;
	--color-tertiary-70: #8cf2e1;
	--color-tertiary-80: #a3f5e0;
	--color-tertiary-90: #d1faf0;
	--color-tertiary-95: #e8fcf9;

	--color-grey-10: #1a1a1a;
	--color-grey-20: #333333;
	--color-grey-30: #4d4d4d;
	--color-grey-40: #666666;
	--color-grey-50: #808080;
	--color-grey-60: #999999;
	--color-grey-70: #b2b2b2;
	--color-grey-80: #cccccc;
	--color-grey-85: #d9d9d9;
	--color-grey-90: #e5e5e5;
	--color-grey-95: #f2f2f2;

	--color-error: #df064f;

	/* Gradients */
	--gradient-profile:
		0deg, #367d7d 0%, #367d7d 100%, 0deg, #bf4095 0%, #bf4095 100%, 0deg,
		#cc4d33 0%, #cc4d33 100%, #945eba;

	/* Shadows */
	--shadow-header: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	--shadow-btn: 0 4px 8px 4px rgba(0, 0, 0, 0.15);
	/* Animations */
	--animate-fadeIn: fadeIn 0.3s ease-out;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

/* Container max-width & paddings */
@utility container {
	@apply mx-auto max-w-(--container-max-width) px-(--container-side-padding);
}

/* Base Elements  */
@layer base {
	body {
		@apply font-dm_sans dark:bg-primary-10;
	}
	button {
		@apply cursor-pointer;
	}
	h1 {
		@apply font-space_grotesk text-grey-20 text-[32px] leading-tight font-bold lg:text-[40px] dark:text-white;
	}
	h2 {
		@apply font-space_grotesk text-grey-20 text-2xl leading-tight font-bold lg:text-[32px] dark:text-white;
	}
	h3 {
		@apply font-space_grotesk text-grey-20 text-xl leading-tight font-bold lg:text-2xl dark:text-white;
	}
	h4 {
		@apply text-grey-20 font-space_grotesk text-base leading-tight font-bold dark:text-white;
	}
	p {
		@apply text-grey-20 dark:text-white;
	}
}

/* Custom Components */
@layer components {
	/* Notification */
	.notification {
		@apply bg-secondary-50 absolute -top-1 -right-1 flex size-4 items-center justify-center rounded-full border border-white text-[8px] leading-none font-bold text-white;
	}
	.notification-bottom {
		@apply bg-grey-30 absolute -right-1 -bottom-1 flex size-4 items-center justify-center rounded-full border border-white text-[8px] leading-none font-bold text-white;
	}

	/* Menu */
	.menu-link {
		@apply text-grey-20 [.active]:bg-primary-95 dark:text-grey-70 dark:[&_path]:fill-grey-70 [.active]:text-primary-40 [.active]:[&_path]:fill-primary-40! hover:bg-primary-95 dark:hover:bg-primary-20 flex items-center gap-2 rounded-lg p-2 [.active]:font-bold dark:[.active]:bg-[#3E334D] [.active]:dark:text-white [.active]:dark:[&_path]:fill-white!;
	}
	.mobile-menu-link {
		@apply text-grey-20 [.active]:bg-primary-95 dark:text-grey-70 dark:[&_path]:fill-grey-70 [.active]:text-primary-40 [.active]:[&_path]:fill-primary-40! flex items-center gap-2 rounded-lg p-2 [.active]:font-bold dark:[.active]:bg-[#3E334D] [.active]:dark:text-white [.active]:dark:[&_path]:fill-white!;
	}

	/* Search Input */
	.search-input-container {
		@apply [.active]:border-primary-40 focus-within:border-primary-40 border-grey-70 flex w-full items-center rounded-full border px-4 py-3 transition dark:focus-within:border-[#A68CD9] [.active]:rounded-t-3xl [.active]:rounded-b-none [.active]:border-2 [.active]:border-b-transparent dark:[.active]:border-[#A68CD9];
	}
	.search-input {
		@apply placeholder:text-grey-40 text-grey-20 flex w-full pl-4 outline-none dark:text-white;
	}
	.search-dropdown {
		@apply border-primary-40 dark:bg-primary-10 absolute top-full right-0 left-0 z-0 -mt-[2px] w-full overflow-hidden rounded-b-3xl border-2 border-t-0 bg-white pb-2 dark:border-[#A68CD9];
	}
	.search-result-item {
		@apply cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-[#3E334D];
	}

	/* Breadcrumbs */
	.breadcrumbs-item {
		@apply last:[&_a]:hover:text-grey-30! dark:last:[&_a]:hover:text-grey-70! flex items-center text-sm font-semibold last:hover:text-current last:[&_a]:cursor-default [&_svg]:mx-2 [&_svg]:shrink-0 last:[&_svg]:hidden!;
	}
	.breadcrumbs-link {
		@apply text-grey-30 dark:text-grey-70 dark:hover:text-grey-95 hover:text-grey-10 transition-colors;
	}

	/* Button */
	.btn {
		@apply font-dm_sans inline-flex items-center rounded-full border border-transparent px-4 py-2 text-sm font-bold underline transition-all disabled:cursor-not-allowed disabled:opacity-85 [&_path]:fill-current [&_span]:px-2;
	}
	.btn-primary {
		@apply bg-primary-40 hover:shadow-btn dark:text-primary-20 dark:border-primary-90 border-primary-40 not-disabled:hover:bg-primary-40 not-disabled:active:bg-primary-50 dark:bg-primary-90 dark:not-disabled:hover:bg-primary-80 dark:not-disabled:hover:border-primary-80 text-white underline-offset-2;
	}
	.btn-secondary {
		@apply hover:shadow-btn border-grey-30 not-disabled:hover:bg-grey-95 not-disabled:active:bg-grey-90 text-grey-20 bg-white underline-offset-2;
	}
	.btn-text {
		@apply not-disabled:hover:text-primary-40 not-disabled:active:bg-grey-90 text-grey-20 dark:text-grey-70 border-none bg-white p-1 underline-offset-2 not-disabled:hover:bg-transparent dark:bg-transparent;
	}

	/* Checkbox */
	.checkbox-group-item {
		@apply text-grey-20 border-grey-20 peer-checked:border-primary-40 peer-checked:bg-primary-40 peer-checked:hover:bg-primary-40 peer-disabled:text-grey-60 peer-disabled:border-grey-60 hover:bg-grey-95 dark:bg-primary-20 dark:border-grey-70 dark:hover:bg-primary-20/50 dark:peer-checked:bg-primary-90 dark:peer-checked:border-primary-90 dark:peer-checked:text-primary-20 dark:peer-checked:hover:bg-primary-90 dark:peer-disabled:text-grey-60 dark:peer-disabled:border-grey-30 flex w-full items-center justify-center rounded-lg border px-2 py-2 text-center text-xs transition-colors peer-checked:font-semibold peer-checked:text-white peer-disabled:cursor-not-allowed peer-disabled:bg-white peer-disabled:hover:bg-transparent min-[420px]:text-sm dark:text-white dark:peer-disabled:bg-transparent;
	}

	/* Event Details Info */
	.event-details-info {
		@apply border-l-secondary-50 [&.green-border]:border-tertiary-40 my-2 rounded border-l-4 px-2;
	}

	/* Input */
	.input {
		@apply border-grey-70 group-[.invalid]/label:border-error not-disabled:placeholder:text-grey-70 text-grey-20 not-disabled:hover:border-primary-40 not-disabled:focus:border-primary-40 focus:outline-primary-40 dark:not-disabled:focus:border-grey-90 flex w-full rounded-lg border p-4 transition-all group-[.valid]/label:border-green-600 disabled:cursor-not-allowed dark:text-white dark:outline-none dark:not-disabled:hover:border-white;
	}
	.input-error {
		@apply text-error invisible flex items-center gap-1.5 text-sm opacity-0 transition-all group-[.invalid]/label:visible group-[.invalid]/label:opacity-100;
	}
	.label {
		@apply flex cursor-pointer flex-col gap-2;
	}
	.label-text {
		@apply text-grey-30 dark:text-grey-90 group-[.invalid]/label:text-error font-bold group-[.valid]/label:text-green-600;
	}

	/* Datapicker */
	.datapicker {
		@apply w-[343px];
	}
	.datapicker-header {
		@apply flex max-w-fit items-center justify-between gap-2;
	}
	.datapicker-month-btn {
		@apply disabled:[&_path]:fill-grey-60 flex size-8 cursor-pointer items-center justify-center p-1 [&_path]:fill-[#231F20] dark:[&_path]:fill-white;
	}
	.datapicker-month {
		@apply shrink-0 font-bold;
	}
	.datapicker-calendar {
		@apply mb-2 grid grid-cols-7 py-4 text-center text-sm text-gray-500;
	}
	.datapicker-day-name {
		@apply text-grey-40 dark:text-grey-80 text-xs font-semibold uppercase;
	}
	/* .selected, .disabled,  */
	.datapicker-day-num {
		@apply text-grey-20 [.selected]:bg-primary-40 dark:[.selected]:text-primary-20 dark:[.selected]:bg-primary-90 dark:hover:bg-primary-90/10 hover:bg-primary-95 [.disabled]:text-grey-60 flex size-7 cursor-pointer items-center justify-center rounded-full text-sm font-semibold min-[374px]:size-10 dark:text-white [.disabled]:cursor-not-allowed [.disabled]:hover:bg-transparent [.selected]:text-white;
	}
}

/* Utility Classes */
@layer utilities {
	.with-border {
		@apply border-grey-70 dark:border-grey-50 border;
	}
}
